h1 {
  text-align: center;
}

body {
  background: grey;
}
#todo-list {
  width: 500px;
  margin: 60px auto;
}
form,
.task {
  border: 1px solid rgb(15, 26, 61);
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
}
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

button {
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  margin: 2px;
  display: flex;
  justify-content: flex-end;
  display: block;
}
button:hover {
  background-color: rgb(52, 52, 52);
  transition: 0.3s;
}
button:active {
  background-color: rgb(130, 35, 21);
}
input {
  background-color: #ececec;
}
input[type='text'] {
  font-size: 16px;
  font-family: monospace;
}
.task input[type='checkbox'] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
}
.task-text {
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-self: center;
  margin: 5px;
}
.task-completed {
  display: flex;
  margin: 10px 0;
}
.task-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 15px;
}
